[submodule "students-list"]
	path = students-list
	url = git@github.com:spbu-coding-2025/students-list.git
[submodule "3-grading-tests"]
	path = 3-grading-tests
	url = git@github.com:spbu-coding-2025/3-grading-tests.git
[submodule "3-DenisPotapov0"]
	path = 3-DenisPotapov0
	url = https://github.com/spbu-coding-2025/3-DenisPotapov0.git
	branch = main
[submodule "3-Esoteria11"]
	path = 3-Esoteria11
	url = https://github.com/spbu-coding-2025/3-Esoteria11.git
	branch = main
[submodule "3-GRIGAeo"]
	path = 3-GRIGAeo
	url = https://github.com/spbu-coding-2025/3-GRIGAeo.git
	branch = main
[submodule "3-Ganesha1967"]
	path = 3-Ganesha1967
	url = https://github.com/spbu-coding-2025/3-Ganesha1967.git
	branch = main
[submodule "3-Makuhin-Egor"]
	path = 3-Makuhin-Egor
	url = https://github.com/spbu-coding-2025/3-Makuhin-Egor.git
	branch = main
