[submodule "students-list"]
	path = students-list
	url = git@github.com:spbu-coding-2025/students-list.git
[submodule "3-grading-tests"]
	path = 3-grading-tests
	url = git@github.com:spbu-coding-2025/3-grading-tests.git
[submodule "3-DenisPotapov0"]
	path = 3-DenisPotapov0
	url = https://github.com/spbu-coding-2025/3-DenisPotapov0.git
	branch = main
[submodule "3-Esoteria11"]
	path = 3-Esoteria11
	url = https://github.com/spbu-coding-2025/3-Esoteria11.git
	branch = main
[submodule "3-GRIGAeo"]
	path = 3-GRIGAeo
	url = https://github.com/spbu-coding-2025/3-GRIGAeo.git
	branch = main
[submodule "3-Ganesha1967"]
	path = 3-Ganesha1967
	url = https://github.com/spbu-coding-2025/3-Ganesha1967.git
	branch = main
[submodule "3-Makuhin-Egor"]
	path = 3-Makuhin-Egor
	url = https://github.com/spbu-coding-2025/3-Makuhin-Egor.git
	branch = main
[submodule "3-RomanKazz"]
	path = 3-RomanKazz
	url = https://github.com/spbu-coding-2025/3-RomanKazz.git
	branch = main
[submodule "3-altrum06"]
	path = 3-altrum06
	url = https://github.com/spbu-coding-2025/3-altrum06.git
	branch = main
[submodule "3-danisaev"]
	path = 3-danisaev
	url = https://github.com/spbu-coding-2025/3-danisaev.git
	branch = main
[submodule "3-e-leshnik"]
	path = 3-e-leshnik
	url = https://github.com/spbu-coding-2025/3-e-leshnik.git
	branch = main
[submodule "3-gorbuzova"]
	path = 3-gorbuzova
	url = https://github.com/spbu-coding-2025/3-gorbuzova.git
	branch = main
