[submodule "students-list"]
	path = students-list
	url = git@github.com:spbu-coding-2025/students-list.git
[submodule "3-grading-tests"]
	path = 3-grading-tests
	url = git@github.com:spbu-coding-2025/3-grading-tests.git
[submodule "3-DenisPotapov0"]
	path = 3-DenisPotapov0
	url = https://github.com/spbu-coding-2025/3-DenisPotapov0.git
	branch = main
[submodule "3-Esoteria11"]
	path = 3-Esoteria11
	url = https://github.com/spbu-coding-2025/3-Esoteria11.git
	branch = main
[submodule "3-GRIGAeo"]
	path = 3-GRIGAeo
	url = https://github.com/spbu-coding-2025/3-GRIGAeo.git
	branch = main
[submodule "3-Ganesha1967"]
	path = 3-Ganesha1967
	url = https://github.com/spbu-coding-2025/3-Ganesha1967.git
	branch = main
[submodule "3-Makuhin-Egor"]
	path = 3-Makuhin-Egor
	url = https://github.com/spbu-coding-2025/3-Makuhin-Egor.git
	branch = main
[submodule "3-RomanKazz"]
	path = 3-RomanKazz
	url = https://github.com/spbu-coding-2025/3-RomanKazz.git
	branch = main
[submodule "3-altrum06"]
	path = 3-altrum06
	url = https://github.com/spbu-coding-2025/3-altrum06.git
	branch = main
[submodule "3-danisaev"]
	path = 3-danisaev
	url = https://github.com/spbu-coding-2025/3-danisaev.git
	branch = main
[submodule "3-e-leshnik"]
	path = 3-e-leshnik
	url = https://github.com/spbu-coding-2025/3-e-leshnik.git
	branch = main
[submodule "3-gorbuzova"]
	path = 3-gorbuzova
	url = https://github.com/spbu-coding-2025/3-gorbuzova.git
	branch = main
[submodule "3-kabkyrie"]
	path = 3-kabkyrie
	url = https://github.com/spbu-coding-2025/3-kabkyrie.git
	branch = main
[submodule "3-kevetka"]
	path = 3-kevetka
	url = https://github.com/spbu-coding-2025/3-kevetka.git
	branch = main
[submodule "3-lupusarqentum"]
	path = 3-lupusarqentum
	url = https://github.com/spbu-coding-2025/3-lupusarqentum.git
	branch = main
[submodule "3-narysh"]
	path = 3-narysh
	url = https://github.com/spbu-coding-2025/3-narysh.git
	branch = main
[submodule "3-taymanov-bn"]
	path = 3-taymanov-bn
	url = https://github.com/spbu-coding-2025/3-taymanov-bn.git
	branch = main
[submodule "3-A-Sozonov"]
	path = 3-A-Sozonov
	url = https://github.com/spbu-coding-2025/3-A-Sozonov.git
	branch = main
[submodule "3-AleksAndr1038"]
	path = 3-AleksAndr1038
	url = https://github.com/spbu-coding-2025/3-AleksAndr1038.git
	branch = main
[submodule "3-AlexeyMashkovichUniWork"]
	path = 3-AlexeyMashkovichUniWork
	url = https://github.com/spbu-coding-2025/3-AlexeyMashkovichUniWork.git
	branch = main
[submodule "3-Brulevich-Nikita"]
	path = 3-Brulevich-Nikita
	url = https://github.com/spbu-coding-2025/3-Brulevich-Nikita.git
	branch = main
[submodule "3-ButyugovMxx"]
	path = 3-ButyugovMxx
	url = https://github.com/spbu-coding-2025/3-ButyugovMxx.git
	branch = main
[submodule "3-EndlessRevolution"]
	path = 3-EndlessRevolution
	url = https://github.com/spbu-coding-2025/3-EndlessRevolution.git
	branch = main
[submodule "3-Iseyne"]
	path = 3-Iseyne
	url = https://github.com/spbu-coding-2025/3-Iseyne.git
	branch = main
[submodule "3-IvRevver"]
	path = 3-IvRevver
	url = https://github.com/spbu-coding-2025/3-IvRevver.git
	branch = main
[submodule "3-KrimPast"]
	path = 3-KrimPast
	url = https://github.com/spbu-coding-2025/3-KrimPast.git
	branch = main
[submodule "3-LeoN192"]
	path = 3-LeoN192
	url = https://github.com/spbu-coding-2025/3-LeoN192.git
	branch = main
[submodule "3-LinaraSun"]
	path = 3-LinaraSun
	url = https://github.com/spbu-coding-2025/3-LinaraSun.git
	branch = main
